//-----COLORES------

$primaryColor: #007bff;
$secondaryColor: #755293;
$claro: #999999;
$tipo: #111111;



//---FUENTES---
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');

$font: 'Roboto', Arial, sans-serif;

