.admin{
    .btn-header{
        float: right;
        margin-top: -80px;

        @media (max-width: 768px) {
            float: none;   
            margin-top: 0;
            width: 100%;
        }
    }
    
    .modal .btn{        
        @media (min-width: 768px) {
            min-width: 200px;
        }
    }
    .table td{
        font-weight: 500;
    }
    .table thead th.sorting_desc, th.sorting_asc{
        //background: transparentize($color: $secondaryColor, $amount: 0.85);
        border-bottom-color: $primaryColor;
    }
    .table tbody {
        font-size: 0.8em;
        tr{border-bottom:2px;}
        td{vertical-align: middle;}
        
        .nombreCuenta {
            font-weight: bold;
        }
        .direccionCuenta {
            font-size: 0.9em;
        }
        .btn{
            padding: 6px 12px;
        }
        .revision{
            font-style: italic;
            font-size: 0.9em;
            line-height: 3em;
        }
        
    }

    .table-hover>tbody>tr:hover {
        //background-color: transparentize($color: $secondaryColor, $amount: 0.85);
        //border-bottom: 2px solid $secondaryColor;
    }

    
    table.dataTable thead :after{        
        color: $primaryColor;
    }
    table.dataTable thead :after, .dataTables_info, .pagination {
        font-size: 0.8em;
        opacity: none;
    }
    .pagination>li.active a{
        background: $primaryColor;
        border-color: $primaryColor;
    }

    @media (max-width: 768px) {
        .dataTables_wrapper:first-child .row
        {
            margin-top: 20px;
            div{
            }
            div label{
                width: 100%;
                input, select{
                    //@warnwidth: 100%;
                }
            }
        }
    }
    
}

button.eliminar{
    color: $logout;
    //margin-top: 10px;
    font-size: 0.8em;
    background: transparent;
    border-color: $logout;
    &:hover{
        color: $blanco;
        background: $logout;
        border-color: $logout;
    }
}

button.block{
    color: $logout;
    background: transparent;
    border-color: $logout;
    &:hover{
        color: $blanco;
        background: $logout;
        border-color: $logout;
    }

    @media (max-width: 1200px) {
        float: none;
    }
}

.userHeader{
    h2, .mailClass, button{
        display: inline-block;
    }
    h2{
        margin: 10px;
        &:after {
            display: none;
        } 
    }
    .mailClass{
        font-size: 1.5em;
        color: $claro;
        @media (max-width: 992px) {
            display: none;
        }        
    }
    a{
        padding: 10px;
    }
    button{
        margin-top: 10px;
    }
}

form.filtros{
    width: 100%;
    margin-bottom: 20px;
    max-width: 100%;
    border-bottom: 1px solid $light;
    padding-bottom: 20px;
    input, select{
        margin-right: 20px;
    }
    
}
.warning .fas, .warning svg{
    color: $logout;
}
.quiereCarga{
    font-weight: bold;
}
.confirmar .modal-footer{
    text-align: center;
}

.userBlocked{
    border: 1px solid $blocked !important;
    border-radius: 10px;
    background-color: $blocked !important;
    padding: 0 10px;

    .mailClass {
        font-size: 1.5em;
        color: $blanco;
    }

}
.blocked{
    background-color: $blocked !important;
}
.table>tbody>tr.warning>td{
    background-color: $warning !important;
}

span.mwei{
    font-style: italic;
    float: right;
    
}