.crear{
    padding-top: 10px;
    margin-top: 10px; 
    margin-bottom: 20px; 

    

    // fieldset .col-form-label{
    //     border-bottom: 1px solid $claro;
    //     padding-bottom: 0px;
    //     margin-bottom: 4px;
    // }

    .form-control-lg {
        padding: .5rem 1rem;
        font-size: 1.1rem;
        line-height: 1.5;
        border-radius: .3rem;
    }
    .form-check-label{
        font-size: 1.1rem;
    }

}

.confirmar{
    padding-top: 20px;
    margin-bottom: 20px; 
    text-align: center;
    
    
}
.aviso-confirmar{
    margin-bottom: 10px;
}



.creado{
    padding-top: 40px;
    text-align: center;
    img.logo{
        width: 80px;
    }
    .perfil{
        margin: 0 auto;
        width: 100px;
        //background-color: red;
        img{
            width: 100px;
            height: 100px;
        }
        .rating{
            line-height: 2.2em;
            font-size: 1.4em;
            width: 45px;
            height: 45px;            
        }

    }

    .aviso-datos{
        text-align: center;        
        margin-bottom: 30px;
        p{
            margin: 0;
            font-size: 1em;
            margin: 0 auto;
            
        }
        .movie{
            font-size: 1.8em;
        }
        .copy{
            width: 250px;
            margin-top: 30px;
            margin-bottom: 10px;
            
        }        

        .fas:not(:first-child){
            margin-left: 6px;
        }
    }

    .btn{
        margin-bottom: 10px;
    }
    

}