.entradas{
    .aceptadas{
        .subtitulo{
            color: $tipo;
            background-color: $highlightColor;
        }
    }
    .timeline .mensajes{
        position: absolute;
        color: $secondaryColor;
        background-color: $primaryColor;
        font-size: 0.9em;
        margin: 0;
        padding: 5px;
        border-radius: 5px;
        line-height: 1em;
        bottom: 50px;
        right: 10px;
    }
}

