.filtros{
    padding-top: 10px;
    margin-top: 10px; 
    margin-bottom: 10px; 

    

    // fieldset .col-form-label{
    //     border-bottom: 1px solid $claro;
    //     padding-bottom: 0px;
    //     margin-bottom: 4px;
    // }

    .form-control-lg {
        padding: .5rem 1rem;
        font-size: 1.1rem;
        line-height: 1.5;
        border-radius: .3rem;
    }
    .form-check-label{
        font-size: 1.1rem;
    }

    input[type="date"]{
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    fieldset{
        border: 1px solid $claro;
        padding: 1rem;
        border-radius: .3rem;

        .form-check{
            margin-bottom: 10px;
        }
        .form-check:last-child{
            margin-bottom: 0px;
        }
    }

}
