//GENERICOS
html {font-size: 1em;}
body {
  font-family: $font;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.45;
  color: $tipo;
  margin-top: 54px;
}
.alert{
    display: none;
}
p {
    margin-bottom: 1.3em;    
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
    margin-top: 0;
    font-size: 2.074em;
}

h2 {
    font-size: 1.728em;
    padding-top: 8px;
}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.833em;}

#floating-button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 1000;
    background: $highlightColor;
    position: fixed;
    bottom: 75px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
    border: 0;

    &:hover, &:focus{
        background-color: lighten($color: $highlightColor, $amount: 20);
    }

    .plus{
        color: $tipo;
        position: absolute;
        top: 0;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 0;
        margin: 0;
        line-height: 70px;
        font-size: 38px;
        font-family: $font;
        font-weight: 300;
        animation: plus-out 0.3s;
        transition: all 0.3s;
    }
}

.no-padding{
    padding: 0;
}
.btn-primary{
    color: $tipo;
    background-color: $highlightColor;
    border-color: $highlightColor;
    &:hover,
    &:focus,
    &:active{
        color: $tipo;
        background-color: lighten($color: $highlightColor, $amount: 20);
        border-color: $highlightColor;
    }
}
.btn-primary:not(:disabled):not(.disabled):active{
    color: $tipo;
    background-color: lighten($color: $highlightColor, $amount: 20);
    border-color: $highlightColor;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: $tipo;
    background-color: $highlightColor;
    border-color: $highlightColor;
}

.btn-outline-primary{
    color: $primaryColorDark;
    border-color: $primaryColorDark;
    &:hover,
    &:focus,
    &:active{
        color: $primaryColorDark;
        background-color: lighten($color: $primaryColorLight, $amount: 20);
        border-color: $primaryColorDark;
    }
}
.btn-outline-primary:not(:disabled):not(.disabled):active{
    color: $primaryColorDark;
    background-color: lighten($color: $primaryColorLight, $amount: 20);
    border-color: $primaryColorDark;
}

.btn-default{
    color: $tipo;
    border-color: $primaryColorLight;
    &:hover,
    &:focus,
    &:active{
        color: $tipo;
        background-color: lighten($color: $primaryColorLight, $amount: 12);
    }
}
.btn-default:not(:disabled):not(.disabled):active{
    color: $tipo;
    border-color: $primaryColorLight;
}
.btnBelow{
    margin-top: 10px;

}
.btnsBelow{
    text-align: center;
}
*::placeholder{
    font-style: italic;
}

.container-top{
    padding-top: 10px;
}
.container-bottom{
    padding-bottom: 53px;
}

.subtitulo{
    color: $secondaryColor;
    padding: 5px;
    background-color: $primaryColorDark;
    p{
        margin:0;
        padding: 0;
        padding-top: 8px;
        margin-bottom: .5rem;
        line-height: 1.2;
    }
    h2{
        font-size: 1em;
        font-weight: normal;
    }
}

.upp{
    text-transform: uppercase;
}