header.navbar {
    color: $secondaryColor;
    background-color: $primaryColor;
    box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.3);
    padding: 0;
    .navbar-name{
        font-size: 1.2em;
        padding: 1.2rem;
    }
    .w-back{
        padding-left: 0px;
    }
    .logo{
        width: 25px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    a.nav-link {
        color: $secondaryColor;
        font-size: 1.25em;
        padding: 1rem;
        min-width: 48px;
        &:hover,
        &:focus {
            color: $highlightColor;
        }      

        
    }
    a.active{
        background-color: $highlightColor;
        color: $tipo;
        border-radius: 40px;
        &:hover,
        &:focus {
            color: $tipo;
            background-color: $secondaryColor;
        } 
    }
    a.back{
        padding: 1rem;
        padding-right: 1.2rem;
    }

    h1{
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
    .dropdown-menu{
        left: auto;
        top: 90%;
        .dropdown-item{
            padding: .6rem 1.5rem;
        }
    }
    .dropdown-item:active {
        background-color: $primaryColor;
    }
}