nav.navbar {
    padding: 0;
    background-color: $primaryColor;
    box-shadow: 1px -1px 2px 0px rgba(0,0,0,0.3);
    ul.navbar-nav {
        li.nav-item a.nav-link{
            font-size: 1.25em;
            padding: 12px 16px;
            color: $secondaryColor;
            position: relative;

            &:hover, &:focus{
                background-color: $primaryColorDark;
            }
            
        }

        li.nav-item.active a.nav-link{
            color: $highlightColor;
        }

        .notificacion{
            background-color: $highlightColor;
            color: $tipo;
            font-size: 0.6em;
            font-weight: bold;
            width: 16px;
            height: 16px;
            border-radius: 16px;
            position: absolute;
            top: 10px;
            left: 50%;
            box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
        }
        
    }
}

