nav.navbar {
    padding: 0;
    background-color: $primaryColor;
    box-shadow: 1px -1px 2px 0px rgba(0,0,0,0.3);
    ul.navbar-nav {
        li.nav-item a.nav-link{
            font-size: 1.25em;
            padding: 12px 16px;
            color: $secondaryColor;

            &:hover, &:focus{
                background-color: $primaryColorDark;
            }
            
        }

        li.nav-item.active a.nav-link{
            color: $highlightColor;
        }
        
    }
}