.timeline {
    .list-group-item {
        border-left: 0;
        border-right: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .list-group-item:first-child {
        border-radius: 0;
    }

    .list-group-item:last-child {
        border-radius: 0;
    }



    .aviso-timeline {
        margin-left: 10px;
        p {
            margin: 0;
            font-size: 1.1em;
            margin-bottom: 5px;
        }
        
        p.mb-1{
            font-size: 0.9em;
        }
        p.movie {
            font-size: 1.55em;
            font-weight: 300;
            margin: 0;            
            line-height: 1em;
            margin-bottom: 10px;
        }       
        .upp{
            font-weight: 700;
        }
        

        .fas:not(:first-child) {
            margin-left: 4px;
        }

    }


    .aviso-descripcion {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid $claro;
        position: relative;
    }

    .flechaTop:after,
    .flechaTop:before {
        content: '';
        display: block;
        position: absolute;
        left: 25px;
        width: 0;
        height: 0;
        border-style: solid;
    }

    .flechaTop:after {
        top: -20px;
        border-color: transparent transparent white transparent;
        border-width: 10px;
    }

    /* this border color controlls the outside, thin border */
    .flechaTop:before {
        top: -21px;
        border-color: transparent transparent $claro transparent;
        border-width: 10px;
    }

}

.end-timeline {
    margin-bottom: 150px;
}

.perfil {
    position: relative;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50px;
    }

    .movie img {
        width: 70px;
        height: 70px;
        border-radius: 0px;
    }

    .rating {
        position: absolute;
        display: block;
        top: -5px;
        left: -10px;
        text-align: center;
        padding: 0;
        margin: 0;
        line-height: 2.1em;
        font-size: 1em;
        width: 30px;
        height: 30px;
        font-weight: bold;
        background-image: url('../images/star.svg');
        background-repeat: no-repeat;
        color: black;

    }
}
